<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules ="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="jruby.exe -G vendor/bundle/bin/puma -p %HTTP_PLATFORM_PORT%" startupTimeLimit="300" stdoutLogEnabled="false">
      <environmentVariables>
        <environmentVariable name="JAVA_OPTS" value="-Djava.net.preferIPv4Stack=true" />
        <environmentVariable name="RACK_ENV" value"development" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>